@font-face {
	font-family: defaultFont;
	src: url("../fonts/THSarabunNew.ttf");
}

body {
	font-family: defaultFont;
	margin: 0 auto;
	padding: 0;
	font-size: 20px;
	color: #4a4a4a;
}
.content{
	width: 100%;
	height: 100%;
	
}

input {
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: defaultFont;
	font-size: 22px;
}
input:focus {
	outline: none !important;
	border-color: #fed42f;
	box-shadow: 0 0 5px #fed42f;
}
#cust_name{
	width: 220px;
	height: 35px;
}
.add-button{
	font-family: defaultFont;
	width: 60px;
	height: 35px;
	background-color: #61dc7a;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 25px;
	text-align: center;
	margin: 8px;
}
.show-list{
	height: 35px;
	width: 35px;
	background: #fed42f;
	border: none;	
	border-radius: 4px;
	cursor: pointer;
	color: #FFFFFF;
	font-family: defaultFont;
	font-size: 25px;
	text-align: center;
}
.show-list i{
	font-size: 20px;
}

.add_name{
	float: left;
	width: 33%;
	line-height: 0;
	margin-left: 2em;
	margin-top: 2em;
	/*background: #d95252;*/
}
.next-q{
	float: left;
	width: 33%;
	margin: 3em 0;
	/*background: #61dc7a;*/
}
.next-q h1{
	font-size: 45px;
	text-align: center;
}
.call-q{
	float: right;
	width: 25%;
	margin-right: 2em;
	margin-top: 1.5em;
	/*background: #fed42f;*/
}
.call-q .call_q{
	
	float: right;
	
}
.reset_btn{
	font-family: defaultFont;
	width: 90px;
	height: 35px;
	background-color: #d95252;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 25px;
	text-align: center;
	margin-left: 15px;
	
}
.recall_btn{
	font-family: defaultFont;
	width: 150px;
	height: 35px;
	background-color: #f1912f;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 25px;
	text-align: center;

}

#num_q{
	line-height:0.8;
	font-size: 220px;
	text-align: center;
	display: block;
}
.name_cust{
	font-size: 32px;
	text-align: center;
	line-height: 1;
	
}
#n_cust{
	color: #d95252;
	
}
#next_btn{
	font-family: defaultFont;
	width: 260px;
	height: 80px;
	background-color: #02bbaa;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	font-size: 55px;
	text-align: center;
	margin-top: 0.6em;
}
.call-next-btn{
	text-align: center;
}
#call-btn {
	float: right;
}
.call_btn{
	font-family: defaultFont;
	width: 100px;
	height: 35px;
	background-color: #fed42f;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 25px;
	text-align: center;
}
#cust_num{
	width: 155px;
	height: 35px;
}
.call-fill{
	float: right;
	margin-top: 20px;
	display: none;
}
.call-fill h2{
	line-height: 0;
}

#each_list{
	position: relative;
	width: 330px;
	height: 35px;
	border: 1px solid #4a4a4a;
	font-size: 25px;
	text-align: center;
	top: 10px;
	display: none;
	border-radius: 5px;
}

