@font-face {
	font-family: defaultFont;
	src: url("../fonts/THSarabunNew.ttf");
}

body {
	font-family: defaultFont;
	margin: 0 auto;
	padding: 0;
	font-size: 20px;
	color: #4a4a4a;
}
.content{
	width: 100%;
	height: 100%;
	margin: 2em;
}

input {
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: defaultFont;
	font-size: 22px;
}
input:focus {
	outline: none !important;
	border-color: #fed42f;
	box-shadow: 0 0 5px #fed42f;
}
#cust_name{
	width: 220px;
	height: 40px;
}
.add-button{
	font-family: defaultFont;
	width: 60px;
	height: 40px;
	background-color: #61dc7a;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 25px;
	text-align: center;
}
.show-list{
	height: 40px;
	width: 40px;
	background: #fed42f;
	border: none;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	color: #FFFFFF;
	font-family: defaultFont;
	font-size: 25px;
	text-align: center;
}
.add_name{
	float: left;
	width: 33%;
	line-height: 0.2;
	background: #d95252;
}
.next-q{
	float: left;
	width: 33%;
	background: #61dc7a;
}
.next-q h1{
	font-size: 45px;
	text-align: center;
}
.call-q{
	float: right;
	width: 33%;
	background: #fed42f;
}
.reset_btn{
	font-family: defaultFont;
	width: 80px;
	height: 40px;
	background-color: #d95252;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 25px;
	text-align: center;
	margin-left: 15px;
	
}
.recall_btn{
	font-family: defaultFont;
	width: 130px;
	height: 40px;
	background-color: #f1912f;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 25px;
	text-align: center;

}
.call_q #call-btn{
	float: right;
}
#num_q{
	line-height:0.8;
	font-size: 220px;
	text-align: center;
	display: block;
}
#own_q{
	
	
}
.name_cust{
	font-size: 32px;
	text-align: center;
	line-height: 1;
	
}
#n_cust{
	color: #d95252;
	
}
.next_btn{
	font-family: defaultFont;
	width: 280px;
	height: 90px;
	background-color: #02bbaa;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	font-size: 65px;
	text-align: center;
	margin-top: 0.5em;
}
.call-next-btn{
	text-align: center;
}
