@font-face {
	font-family: defaultFont;
	src: url("../fonts/THSarabunNew.ttf");
}

body {
	font-family: defaultFont;
	margin: 0 auto;
	padding: 0;
	font-size: 20px;
}

.row1 {
	color: #fff!important;
	background-color: #4a4a4a!important;
	height:90px;
	width: 100%;
}
.header_left{
	float:left;
	margin-left:1.2em;
	line-height: 0.5;
	justify-content: center;
}
.header_left h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 34px;
}
.header_left p {
	font-size: 20px;
}
